.contact-section {
  padding: 120px 10%;
  background: #020617;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.contact-card {
  background: #0f172a;
  padding: 35px;
  border-radius: 20px;
  border: 1px solid #38bdf8;
  text-decoration: none;
  transition: 0.3s;
}

.contact-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.4);
}

.contact-card h3 {
  color: #38bdf8;
  margin-bottom: 15px;
  font-size: 24px;
}

.contact-card p {
  color: #e2e8f0;
  font-size: 18px;
  word-break: break-word;
}